@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

*{
  margin: 0;
  padding: 0;
}

:root{
--primary-color: rgb(89, 32, 143);
--secondary-color: #a366ac;
}

body{
  background:linear-gradient(blue,red);
overflow-y: none;
}

.logo{
  width: 9rem;
  height: 10rem;
  position: fixed;
  top:5px;
  left:42rem;
}